body, p{
    background-color: rgb(255, 245, 228);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: rgb(205, 92, 8);
}

.header{
    display: flex;
    flex-direction: column;

    h1{
        color: rgb(205, 92, 8); 
        text-align: center;
    }

    #hmo-picture{
        display: flex;
        justify-content: center;
        img{
            width: 300px;
            height: auto;
        }
    }
}



