table{
    border: 1px solid black;
    text-align: center;
    padding-inline: 5px;
    padding-block: 5px;
    tr, th, td{
    border: 1px solid black;
    text-align: center;
    padding-inline: 10px;
    padding-block: 10px;
    }
}